@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');

:root {
  --dark-text: #665006;
  --light-text: #fff019;
  --light: #e0dede;
  --nav: 75px;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  margin: 0;
  background-color: #000;
  color: var(--light);
}

header {
  height: calc(100vh - var(--nav));
  width: 60%;
  display: flex;
  align-items: center;
}

header .container {
  height: fit-content;
  padding: 0 100px;
}

h1 {
    font-weight: 500;
    font-size: 44px;
    color: var(--light-text);
}

header .container h1 {
  letter-spacing: 1px;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  font-weight: 200;
  font-size: 18px;
}

button {
  border: 0;
  border-radius: 30px;
  background-color: var(--dark-text);
  font-size: 18px;
  font-weight: bold;
  padding: 8px 35px;
  color: #fff;
  margin-top: 50px;
}

nav {
  display: flex;
  align-items: center;
  height: var(--nav);
  padding: 0 100px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 99;
}

header img {
  display: none;
}

nav img {
  height: var(--nav);
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul a {
  text-decoration: none;
  color: var(--light-text);
  font-size: 24px;
}

nav ul a svg {
  display: none;
}

.about-me {
  display: flex;
  padding: 100px;
}

.about-me .container {
  width: 50%;
  padding-right: 50px;
}

.about-me .container h1 {
  display: flex;
  justify-content: center;
}

.about-me .container p {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.about-me .img-container {
  width: 50%;
  text-align: center;
  position: relative;
}

.about-me .img-container img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.about-me .img-container .line {
  width: calc(70% + 50px);
  height: calc(100% + 50px);
  border: 1px solid var(--light-text);

  position: absolute;
  top: -25px;
  left: calc(50% - 70% / 2 - 25px);
}

.about-me .img-container .line.white {
  transform: rotate(-3.3deg);
  color: white;
}

.services {
    text-align: center;
    margin: 150px 0;
    padding: 0 100px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    margin: 60px auto 0;
    max-width: 1200px;
}

.services .services-container .card-container {
    width: 380px;
    border: 1px solid var(--dark-text);
    border-radius: 10px;
    background-color: #36363657;

    padding: 40px 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.services .services-container .card-container .icon svg {
    margin-bottom: 40px;
    width: 40px;
    height: 40px;
}

.card-container+ .card-container {
    margin-left: 20px;
}





/* RESPONSIVIDADE */
@media (max-width: 1200px) {
  header {
    width: 70%;
  }

  .about-me .container p {
    display: block;
  }
}

@media (max-width: 992px) {
  header {
    width: 100%;
  }

  h1 {
    font-size: 36px;
  }

  nav ul a {
    font-size: 16px;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me .container,
  .about-me .img-container {
    width: 100%;
    padding-right: 0;
  }

  .about-me .img-container {
    margin: 50px 0;
  }
}

/* responsividade retirando o logo */
@media (max-width: 768px) {
  header .container {
    padding: 0 40px;
  }

  nav {
    padding: 0;
  }

  nav img {
    display: none;
  }

  nav ul {
    padding: 0 40px;
  }

  .about-me {
    padding: 40px;
  }
}

@media (max-width: 536px) {
  header .container {
    padding: 0 15px;
  }

  h2 {
    margin-top: 0;
  }

  nav {
    position: fixed;
    top: unset;
    bottom: 0;
    width: 100%;
  }

  nav ul {
    padding: 0 15px;
  }

  nav ul a {
    font-size: 12px;
  }

  nav ul a svg {
    display: block;
    margin: 0 auto 10px;
  }

  .about-me {
    padding: 15px;
  }
}
